{% extends "layout.html" %}

{% block title %}
    My Tasks
{% endblock %}

{% block main %}
    <h2>My Tasks</h2>
    <div class="table-container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Assignment</th>
                    <th>Subject</th>
                    <th>Deadline</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Difficulty</th>
                    <th>Estimated Time</th>
                    <th>Turned In</th>
                </tr>
            </thead>
            <tbody>
                {% for row in tasks%}
                    <tr>
                        <td>{{ row.assignment }}</td>
                        <td>{{ row.subject }}</td>
                        <td>{{ row.deadline }}</td>
                        <td>{{ row.type }}</td>
                        <td class="status">
                            <form action="/update-status" method="post">
                                <select onchange="this.form.submit()" name="status-select" class="form-control">
                                    <option disable selected value="">{{ row.status[0] }}</option>
                                    <option value="{{ row.status[1] }}">{{ row.status[1] }}</option>
                                    <option value="{{ row.status[2] }}">{{ row.status[2] }}</option>                        
                                </select>
                            </form>
                        </td>
                        <td>{{ row.difficulty }}</td>
                        <td>{{ row.est_time}}</td>
                        <td> <form action="/completed_task" method="post"><input type="text" hidden name="task_id" value="{{row.id}}"><input type="submit"><input type="datetime-local" hidden></form></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

        <button class="btn btn-red" id="btn-delete-task">Delete Task</button>
        <button class="btn btn-red" id="btn-done">Cancel</button>
        <button class="btn btn-purple" id="btn-add-task">Add Task</button>

        <div id="add-task-form" class="container-form">
            <h3>Add a new Task</h3>
            <form action="/add-task" method="post">
                <!-- Assignment -->
                <div class="form-group">
                    <input type="text" name="assignment" placeholder="Assignment/Task"autofocus autocomplete="off" required class="form-control">
                </div>
                <!-- Subject -->
                <div class="form-group">
                <select name="subject" id="" class="form-control">
                    <option disable selected value="">Subject</option>
                        {% for row in subjects%}
                            <option style="background-color: {{ row.color }};" value="{{ row.subject }}">{{ row.subject }}</option>
                        {% endfor %}
                </select>
                </div>
                <!-- Deadline-->
                <div class="form-group">
                    <input type="date" class="form-control">
                </div>
                <!-- Type -->
                <div class="form-group">
                    <select name="type" id="" class="form-control">
                        <option disable selected value="">Type</option>
                        <option  value="homework">Homework</option>
                        <option  value="exam">Exam</option>
                        <option  value="project">Project</option>
                        <option  value="personal">Personal</option>
                        <option  value="lecture">Lecture</option>
                        <option value="other">Other</option>
                    </select>
                    </div>
                <!-- Difficulty -->
                <div class="form-group">
                    <select name="type" id="difficulty" name="difficulty"class="form-control">
                        <option disable selected value="">Difficulty</option>
                        <option class="green" value="easy">Easy</option>
                        <option class="yellow" value="medium">Medium</option>
                        <option class="red" value="hard">Hard</option>
                    </select>
                </div>
                <!-- Estimated Time -->
                <div class="form-group">
                    <input class="form-control"type="text" placeholder="Estimated Time HH:MM" title="Hours that you might spend on the task. Example: '01:30' is a valid input"pattern="([0-1]{1}[0-9]{1}|20|21|22|23):[0-5]{1}[0-9]{1}" />
                </div>

                <button class="btn btn-primary"type="submit">Add</button>
            </form>
        </div>
        

{% endblock %}
