{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <select class="form-control" style="margin-bottom: 1rem"required name="symbol">
            <option disabled selected value="">Symbol</option>
                {% for row in symbols %}
                    <option value="{{ row.symbol }}">{{ row.symbol }}</option>
                {% endfor %}
        </select>

        <div class="form-group">
            <input required class="form-control" name="shares" placeholder="Shares" type="number" min="0" step="any">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}